<!DOCTYPE html>
<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
    * {
        font-family: 'IBM Plex Mono', monospace;
    }
    html {
        background-color: black;
    }
    h1, h2 {
        color: white;
    }
    .header {
        border-bottom: 1px solid white;
        text-align: center;
    }
    .post {
        padding-left: 10px;
        color: lightgrey;
        border-bottom: 1px solid white;
    }
    .time {
        color: white;
        font-style: italic;
    }
  </style>
  <title><%= name %> | rethink</title>
  <link rel="alternate" type="application/atom+xml" title="<%= name %>'s thoughts" href="/~<%= name %>/feed.xml">
</head>
<body>
  <div class="header">
    <h1>rethink.</h1>
    <h2>it's all in your head.</h2>
  </div>
<%- thoughts.reverse.each do |thought| -%>
  <div class="post">
    <p class="content"><%= thought.content %></p>
    <p class="time"><%= thought.date.to_s("%a %h %d %H:%M:%S %Y") %></p>
  </div>
<%- end -%>
</body>
